<!-- <button class="nr" routerLink='/first'>First Component</button>
<button class="nr" routerLink='/second'>Second Component</button>

<router-outlet></router-outlet> -->

<!-- <div class="row">
    <div class="col-6">
        Hello
    </div>
    <div class="col-6">
        World!
    </div>
</div> -->

<!-- <app-hexagon></app-hexagon> -->

<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img 
        src="../favicon.ico" 
        alt="" 
        class="d-inline-block align-text-top">
        <span class="hd-name-span">qwerty</span>
      </a>
    </div>
  </nav>

<div class="row">

    <div class="srv-ft col-6">

        <div #one class="server server-one">

        </div>

        <div class="server server-two">

        </div>

        <div class="server server-three">

        </div>


    </div>

    <div class="srv-ftt col-6">

        <div #four class="server server-four">

        </div>

        <div class="server server-five">

        </div>

    </div>

</div>