.server {
    width: 500px;
    height: 180px;
    background-color: rgb(28, 48, 87);
    border: 5px solid white;
}

.hd-name-span {
    margin-left: 7%;
    vertical-align: middle;
}

.srv-ft { 
    display: flex;
    height: 90vh;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.srv-ftt { 
    display: flex;
    height: 90vh;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;    
}



